header {
  text-align: center;
}

h1{
  font-size: 3rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
}
form{
  text-align: center;

}

label{
  font-weight: thin;
  font-size: 2rem;
  color: #000000;
}
